<h1>Success!</h1>
<h2>New Wallet Balance: <%= ToCurrency.format(@user.balance) %> </h2>
<p>Confirmed sale of <%=@quantity%> share(s) of stock: <%=@ticker%> for <%=ToCurrency.format(@total)%>!</p>

<a href = '/main'> Main Page </a>
<br>
<br>
<a href = '/sell'> Make Another Sale </a>