<h1>Stock Market Playground</h1>
<h3>Login:</h3>
    
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <br>
    <br>
    <input type="submit" name="submit">
</form>
<a href = '/signup'> Sign Up </a>
<br>

<h1>Leaderboard!</h1>

<table border = "1">

<tr>
    <th>Rank</th>
    <th>User</th>
    <th>Portfolio Value</th>
</tr>

<% user_values = {} %>
<% users = User.all %>
<% users.each do |x| %>
    <% user_values[x.id] = x.portfolio_value %>
<% end %>
<% user_ranks = user_values.sort.reverse%>
<% i = 1 %>

<% user_ranks.each do |id, value|%>
    <tr>
        <td><%= i %></td>
        <td><%= User.find(id).username %></td>
        <td><%= ToCurrency.format(value) %></td>
    </tr>

    <% i += 1 %>
<% end %>

</table>