<h1>Stock Market Playground</h1>
<h3>Login:</h3>
    
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <br>
    <br>
    <input type="submit" name="submit">
</form>
<a href = '/signup'> Sign Up </a>
<br>
<br>
<a href = '/leaderboard'>View Leaderboard</a>