<h1>Welcome to FlatBank</h1>
<h3>Log In Please</h3>
    
<form method="POST" action="/login">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" name="submit">
</form>