<h1>Leaderboard</h1>

<table border = "1">

<tr>
    <th>Rank</th>
    <th>User</th>
    <th>Portfolio Value</th>
</tr>

<% @sorted_users.each do |id, value|%>
    <tr>
        <td><%= @i %></td>
        <td><%= User.find_by(id: id).username %></td>
        <td><%= ToCurrency.format(value) %></td>
    </tr>

    <% @i += 1 %>
<% end %>

</table>

<br>
<br>

<a href = '/main'> Main Page </a>